@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
  --font-main: "Source Sans Pro", monospace;

  --content-bg-clr-dark: #d8d7d7;
  --content-bg-clr-light: #f5f1f1;
  --clr-accent: rgba(238, 116, 99, 1);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0 7em;
}

@media (max-width: 1200px) {
  body {
    margin: 0 1rem;
  }
}

html {
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* HEADER STYLING SECTION */

#header {
  background: url("./images/header.jpg") center/cover no-repeat;
  height: 60vh;
  position: relative;
}

#navbar {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  position: relative;
}

@media (max-width: 868px) {
  #navbar {
    flex-direction: column;
  }
}

.logo-div {
  width: 20%;
  text-align: center;
}

@media (max-width: 868px) {
  .logo-div {
    width: 100%;
  }
}

.logo-div img {
  width: 70px;
  animation: spinningLogo 8s ease-in-out 2s infinite;
  /* animation-name: spinningLogo;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

@keyframes spinningLogo {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.links-div {
  width: 80%;
}

.ul-container {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .ul-container {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.li-links a {
  text-decoration: none;
  color: lightslategray;
  transition: all 0.3s ease-in;
}

.li-links a:hover {
  color: var(--clr-accent);
}

.icons {
  margin-right: 0.3rem;
}

.social-div {
  width: 20%;
}

.ul-social {
  display: flex;
  justify-content: center;
}

@media (max-width: 868px) {
  .social-div {
    position: absolute;
    top: 1;
    right: 0;
  }
}

.cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
}
.cta h1 {
  color: rgba(238, 116, 99, 0.6);
  font-size: 2.8rem;
  font-family: serif;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0 8rem 0;
}

@media (max-width: 868px) {
  .cta h1 {
    font-size: 2.4rem;
    padding: 1rem 0 4rem 0;
  }
}

/*------ END HEADER STYLING SECTION ------*/

/*------ MAIN SECTION ------*/
main {
  margin-top: 1rem;
  display: flex;
}
@media (max-width: 1100px) {
  main {
    flex-direction: column;
  }
}

.content-section {
  width: 80%;
  background-color: var(--content-bg-clr-dark);
  margin-right: 1rem;
}
@media (max-width: 1100px) {
  .content-section {
    width: 100%;
  }
}

aside {
  width: 20%;
  background-color: var(--content-bg-clr-dark);
  text-align: center;
  padding: 2rem;
}

aside h3 {
  padding-bottom: 2rem;
}
@media (max-width: 1100px) {
  aside {
    width: 100%;
    margin-top: 1rem;
  }
}

.content-row {
  display: flex;
}

@media (max-width: 1100px) {
  .content-row {
    flex-direction: column;
  }
}

.blog-post {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 1100px) {
  .blog-post {
    width: 100%;
  }
}

.post-container {
  padding: 0.5rem;
  background-color: var(--content-bg-clr-light);
}

.post-container h4 {
  color: white;
  background-color: #f08080;
  margin-top: 0.2rem;
  padding: 0.4rem 0 0.1rem 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.post-container a {
  display: block;
  padding-top: 2rem;
  color: gray;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.post-container a:hover {
  color: var(--clr-accent);
}

.blog-img {
  height: 150px;
  position: relative;
}

.post-date {
  color: rgb(255, 255, 146);
  position: absolute;
  bottom: 0.1rem;
  left: 0.2rem;
}

.blog-content {
  padding: 0.4rem 0 0.1rem 0.2rem;
  column-count: 2;
}

@media (max-width: 600px) {
  .blog-content {
    column-count: 1;
  }
}

.extra-info {
  text-align: center;
  padding: 0.8rem;
  font-weight: 500;
}

/*------ END OF MAIN SECTION ------*/

/*------ FOOTER SECTION ------*/

footer {
  background-color: var(--content-bg-clr-dark);
  margin: 1rem 0;
}

footer p {
  text-align: center;
  font-size: 1.1rem;
  background-color: var(--content-bg-clr-light);
  padding: 1rem 0;
  margin: 0 1rem;
}

/*------ END OF FOOTER SECTION ------*/
