@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
  --font-main: "Source Sans Pro", monospace;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0 7em;
}

html {
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* HEADER STYLING SECTION */

#header {
  background: url("./images/header.jpg") center/cover no-repeat;
  height: 60vh;
  position: relative;
}

#navbar {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  position: relative;
}

@media (max-width: 868px) {
  #navbar {
    flex-direction: column;
  }
}

.logo-div {
  width: 20%;
  text-align: center;
}

@media (max-width: 868px) {
  .logo-div {
    width: 100%;
  }
}

.logo-div img {
  width: 70px;
}

.links-div {
  width: 80%;
}

.ul-container {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .ul-container {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.li-links a {
  text-decoration: none;
  color: lightslategray;
  transition: all 0.3s ease-in;
}

.li-links a:hover {
  color: #f08080;
}

.icons {
  margin-right: 0.3rem;
}

.social-div {
  width: 20%;
}

.ul-social {
  display: flex;
  justify-content: center;
}

@media (max-width: 868px) {
  .social-div {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
}
.cta h1 {
  color: rgba(238, 116, 99, 0.8);
  font-size: 2.8rem;
  font-family: serif;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0 8rem 0;
}

@media (max-width: 868px) {
  .cta h1 {
    font-size: 2.4rem;
    padding: 1rem 0 4rem 0;
  }
}

/*------ END HEADER STYLING SECTION ------*/
