* {
  box-sizing: border-box;
}

/* PART 1 */

#box-1 {
  border: 1rem solid black;
}

.top-1 {
  background-color: #2d4059;
  display: flex;
  padding: 1rem;
  border-bottom: 0.5rem solid black;
}

@media (max-width: 500px) {
  .top-1 {
    flex-direction: column;
    border-bottom: 1rem solid black;
  }
}

.top-1 div {
  background-color: #ea5455;
  padding: 0.5rem;
}

.top-1 div:nth-child(1) {
  flex-grow: 1;
}
.top-1 div:nth-child(2) {
  flex-grow: 4;
  margin: 0 1rem;
}
.top-1 div:nth-child(3) {
  flex-grow: 1;
}

@media (max-width: 500px) {
  .top-1 div:nth-child(2) {
    margin: 1rem 0;
  }
}

.bottom-1 {
  padding: 1rem;
  background-color: #f07b3f;
}

.bottom-1 div {
  background-color: #fed460;
  padding: 0.5rem;
}

/* END OF PART 1 */

/* PART 2 */

#box-2 {
  border: 1rem solid black;
  margin-top: 1rem;
  display: flex;
  background-color: black;
}

@media (max-width: 768px) {
  #box-2 {
    flex-direction: column;
    border-color: turquoise;
    background-color: turquoise;
  }
}

.left-2 {
  background-color: #4e4e6a;
  padding: 1rem;
  width: 80%;
}

@media (max-width: 768px) {
  .left-2 {
    width: 100%;
  }
}

.row {
  display: flex;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}

.row div {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #1f6cb0;
  flex: 1;
}

.row div:nth-child(1) {
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .row div:nth-child(1) {
    margin-right: 0;
  }
}

.full-row div {
  padding: 0.5rem;
  background-color: #70a3c4;
}

.separator {
  width: 1rem;
  padding: 0;
}

@media (max-width: 768px) {
  .separator {
    height: 1rem;
  }
}

.right-2 {
  background-color: #f73f52;
  width: 20%;
}

@media (max-width: 768px) {
  .right-2 {
    width: 100%;
  }
}

.right-2 div {
  background-color: #feea85;
  padding: 0.5rem;
}

.right-2 div:first-child {
  margin: 1rem 1rem 0.5rem 1rem;
}
.right-2 div:last-child {
  margin: 0 1rem 1rem 1rem;
}

/* END OF PART 2 */

/* PART 3 */

#box-3 {
  border: 1rem solid black;
  margin-top: 1rem;
}

#box-3 div {
  background-color: #e6af2e;
  padding: 0.5rem;
}

/* END OF PART 3 */
